<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Include head-->
    <%- include('../partials/head') %>
    <title>Argon | Home</title>
  </head>
<style>
   
   #productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  .card-article{
    margin-bottom: 25px;
    width: 10%;
    text-align: center;
   
  }
  .button-edi-del{
    width: 100%;
  }
  .submit{
  
    background-color:  #660846;
    color: white;
    border-radius: 15%;
    width: 50%;
  }
     .rest{
      background-color: #660846;;
    color: white;
    border-radius: 15%;
    width: 50%;
     } 
      
    </style>
  <body>
    <header>
      <!--Include header-->
      <%- include('../partials/header') %>
    </header>
    <div class="menuDesplegado">
    </div>
    
  

    <section id="productos">
     
        
 <article class="card-article">
<% Producto.forEach(producto => { %>
 

 

    
        <div class="image">
        <img
          src="<%= producto.imagen %> "
          alt="producto"
          class="imagen-producto"
        /><br>
        </div>
        <div class="contenedorInfo">
          <p>Nombre: <%= producto.nombre %></p>
          <p>PRECIO :$ <%= producto.precio %></p>
          <p>Marca :<%= producto.marca %></p>
          <p>Descripcion :<%= producto.descripción %></p>
        </div>
     <div class="button-edi-del">
        <a href="/products/edit/<%= producto.id %>" >
          <button type="submit" class="submit">Editar</button>
        </a>
        <form
          class="button-delete"
          action="/products/<%= producto.id %>?_method=delete"
          method="POST"
        > <br>
          <button type="submit"class="rest">Borrar</button>
        </form>
     </div>
     <% }) %> 
 </article>
  

    </section>
  </body>
  
      <!--Include Footer-->
      <%- include('../partials/footer') %>  
</html>
</html>
