<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Include head-->
    <%- include('../partials/head') %>
    <title>Argon | Home</title>
  </head>
  <body>
    <header>
      <!--Include header-->
      <%- include('../partials/header') %>
    </header>

    <section id="productos">
 <article class="card-article">
<% Producto.forEach(producto => { %>
        <div class="image">
        <img
          src="<%= producto.imagen %> "
          alt="producto"
          class="imagen-producto"
        /><br>
        </div>
        <div class="contenedorInfo">
          <p>Nombre: <%= producto.nombre %></p>
          <p>PRECIO :$ <%= producto.precio %></p>
          <p>Marca :<%= producto.marca %></p>
          <p>Descripcion :<%= producto.descripción %></p>
        </div>
     <div class="button-edi-del">
        <a href="/products/edit/<%= producto.id %>" >
          <button type="submit" class="submit">Editar</button>
        </a>
        <form
          class="button-delete"
          action="/products/<%= producto.id %>?_method=delete"
          method="POST"
        > <br>
          <button type="submit"class="rest">Borrar</button>
        </form>
     </div>
     <% }) %> 
 </article>
    </section>
      <!--Include Footer-->
      <%- include('../partials/footer') %>  
  </body>
</html>
