<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Include head-->
    <%- include('../partials/head') %>
    <title>Argon | Carga</title>
  </head>
  <body>
    <header>
      <!--Include header-->
      <%- include('../partials/header') %>
    </header>
    <section class="contenedorForm">
       <form action="/products/<%= Productos.id %>?_method=put"  method="POST" class="formulario" 
          enctype="multipart/form-data">
        <h4><%= Productos.nombre %></h4>
        <div class="galeria">
          <img src="<%= Productos.imagen %>" />
          
        </div>
        <label for="imagen">Suba una imagen</label>
        <input
          class="w-100"
          type="file"
          name="imgagen"
          id="imagen"
          value="<%= Productos.imagen %>"
        />
        <label for="producto">Nombre del producto</label>
        <input type="text" name="nombre" value="<%= Productos.nombre %>" /><br />

        <label for="marca">Marca</label>
        <input
          class="w-100"
          type="text"
          name="marca"
          id="marca"
          value="<%= Productos.marca %>"
        />
        <label for="precio">Stock</label>
        <input
          class="w-100"
          type="text"
          name="stock"
          id="stock"
          placeholder="<%=Productos.stock %>"
          value="<%= Productos.stock %>"
        />

        <label for="precio">Precio</label>
        <input
          class="w-100"
          type="number"
          name="precio"
          id="precio"
          value="<%= Productos.precio %>"
        />
        
        <label for="descripción">Descripción</label>
        <input
          class="w-100"
          type="text"
          name="descripción"
          id="descripción"
          value="<%= Productos.descripción %>"
        
  />
        <button type="submit" class="submit">EDITAR PRODUCTO / GUARDAR </i></button>  
        <form action="/products/<%= Productos.id %>?_method=delete" method="POST">
          <button type="submit" class="rest"><span class="far fa-trash-alt"></span> Eliminar</button>
      </form>
    </section>
      </form>
    <footer>
      <!--Include Footer-->
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>
