<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Include head-->
    <%- include('../partials/head') %>
    <title>Argon | Carga</title>
  </head>
  <body>
    <header>
      <!--Include header-->
      <%- include('../partials/header') %>
    </header>
    <section class="contenedorForm">
      <form
        action="/products/<%= Productos.id %>?_method=put"
        method="POST"
        class="formProductEdit"
        enctype="multipart/form-data"
      >
        <h4><%= Productos.nombre %></h4>
        <div class="galeria">
          <img src="<%= Productos.imagen %>" />
        </div>
        <label for="imagen">Suba una imagen</label>
        <input
          class="w-100"
          type="file"
          name="imgagen"
          id="imagen"
          value="<%= Productos.imagen %>"
        />
        <label for="producto">Nombre del producto</label>
        <input
          type="text"
          name="nombre"
          value="<%= Productos.nombre %>"
        /><br />

        <label for="marca">Marca</label>
        <input
          class="w-100"
          type="text"
          name="marca"
          id="marca"
          value="<%= Productos.Marca.marca %>"
        />
        <label for="precio">Sockets</label>
        <input
          class="w-100"
          type="text"
          name="sockets"
          id="sockets"
          placeholder="<%=Productos.sockets %>"
          value="<%= Productos.sockets %>"
        />

        <label for="slots">Slots</label>
        <input
          class="w-100"
          type="number"
          name="slots"
          id="slots"
          value="<%= Productos.slots %>"
        />

        <label for="ram">RAM</label>
        <input
          class="w-100"
          type="text"
          name="ram"
          id="ram"
          value="<%= Productos.ram %>"
        />

        <label for="precio">Precio</label>
        <input
          class="w-100"
          type="number"
          name="precio"
          id="precio"
          value="<%= Productos.precio %>"
        />

        <label for="descripcion">Descripción</label>
        <input
          class="w-100"
          type="text"
          name="descripcion"
          id="descripcion"
          value="<%= Productos.descripcion %>"
        />

        
        <label for="gama">Gama</label>
        <select name="gama" id="gama">
          <option value="1" <% if(Productos.gamaId==1){ %><%= "selected"  %><% }%>>Alta</option>
          <option value="2" <% if(Productos.gamaId==2){ %><%= "selected"  %><% }%>>Media</option>
          <option value="3" <% if(Productos.gamaId==3){ %><%= "selected"  %><% }%>>Baja</option>
        </select>

        <button type="submit" class="submit">EDITAR PRODUCTO / GUARDAR</button>
        <button type="submit" class="rest">
          <span class="far fa-trash-alt"></span>Eliminar
        </button>
      </form>
    </section>

    <!--Include Footer-->
    <%- include('../partials/footer') %>
  </body>
</html>
