<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Include head-->
    <%- include('../partials/head') %>
    <title>Argon | Home</title>
  </head>
  <body>
    <!--Include header-->
    <%- include('../partials/header') %>

    <!-- seccion banner carrusel -->
    <div class="carrusel">
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/img/sitio/banner_asus.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="/img/sitio/banner_coolerMaster.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="/img/sitio/banner_superheroes.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- seccion de apartado de perifericos -->
    <div class="block-apartados">
      <div class="block-apartado__seleccion">
        <img
          src="/img/sitio/PCGAMEBAJA.jpg"
          alt="gama baja"
          class="block-apartado__img"
        />
      </div>
      <div class="block-apartado__seleccion">
        <img
          src="img/sitio/PCGAMEMEDIA.jpg"
          alt="gama media"
          class="block-apartado__img"
        />
      </div>
      <div class="block-apartado__seleccion">
        <img
          src="img/sitio/PCGAMEALTA.jpg"
          alt="gama alta"
          class="block-apartado__img"
        />
      </div>
    </div>
    <!-- publicidad -->
    <div class="block-publicidad">
      <a href="https://latam.msi.com/" target="about_blank"
        ><img src="/img/sitio/publicidad2.jpg" alt="publicidad-pc"
      /></a>
    </div>

    <!-- productos destacados -->
    <div>
      <p class="lastsProducts">¡Últimos ingresos!</p>
    </div>
    <div class="productContent">
      <% producto.forEach(producto => { %>
      <a href="/products/detail/<%= producto.id %>">
        <div class="productContent-product">
          <div class="productContent-img">
            <img
              src="<%= producto.imagen %>"
              alt="<%= producto.nombre %>"
              class=""
            />
          </div>
          <hr class="whiteLine" />
          <p class="product-character"><%= producto.nombre %></p>
          <p class="product-character">$<%= producto.precio %></p>
        </div>
      </a>
      <% }) %>
    </div>

    <!--Include Footer-->
    <%- include('../partials/footer') %>
  </body>
</html>
