<!DOCTYPE html>
<html lang="en">

<head>
  <!--Include head-->
  <%- include('../partials/head') %>
    <title>Argon | Home</title>
</head>

<body>
  <header>
    <!--Include header-->
    <%- include('../partials/header') %>
  </header>

  <div class="allProductPage">

<div class="options">
  <a href="/products/create" rel="noopener noreferrer"><button class="btn-admin">Cargar productos</button></a>
  <a href="http://localhost:3000/" target="a_blank"><button class="btn-admin">Dashboard</button>
</div>
      
    <div class="card-container">
      <% Productos.forEach(producto => { %>
        <a href="./detail/<%= producto.id %>">
        <div class="card">
          <div class="card-image"><img src="<%= producto.imagen  %>" alt="" ></div>
          <p class="price">$<%= producto.precio %></p>
          <p class="description"> <%= producto.nombre %></p>
            <p class="marca"> <%= producto.Marca.marca %></p>
           
            <div class="btn-products-admin">
            <a href="./edit/<%= producto.id %>/" >
              <button type="submit" class="edit-admin">Editar</button>
            </a>  
            <form
          class="button-delete" method="Post"
          action="/products/<%= producto.id %>?_method=Delete" >
          <button type="submit"class="rest-admin">Borrar</button>
        </form>
      </div>
        </div>  
      <% }) %>
    </div>

  </div> 
  <!--Include Footer-->
  <%- include('../partials/footer') %>
</body>

</html>