<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Include head-->
    <%- include('../partials/head') %>
  </head>
  <header>
    <!--Include header-->
    <%- include('../partials/header') %>
  </header>
  <div class="menuDesplegado">
    <!--Include menu-->
  </div>

<body >
  <div class="container box-shadow">
    <div class="detail-product">
      <div class="img-producto">
        <img
          src="<%= Productos.imagen %> "
          alt="imagen-productos"
          class="imagen-productos"
          width="400px"
        />
      </div>
      <div class="detalle-venta">
        <h1 class="titulo"><%= Productos.nombre %>  <%= Productos.Marca.marca %> </h1>    
        <h4 class="precio-principal">$<%= Productos.precio  %> </h4>
        <div class="cuotas">
          <h5 style="padding-left: 20px; padding: 5px;">12 cuotas sin interes de $<%= Math.floor(Productos.precio / 12) %> </h5>
        </div>
        <img src="/img/sitio/credito-tarjetas.png" alt="" width="110px">
        <hr>
        <h5 class="stock-web">
          <i class="fa-regular fa-circle-check check"></i> Stock Alto en la web
        </h5>
        <p class="ph4">Solo para ventas web</p>
        <div class="envio-garantia">
          <h5><i class="fa-solid fa-truck-fast camion-envio"></i>Envios a todo el pais</h5>
          <h5 ><i class="fa-solid fa-shield"></i>Garantia</h5>
          <!--<p class="garantia-dias">180 Dias</p>-->
        </div>
        <hr>
        <div class="number-b">
          <h5>Cantidad</h5>
          <input type="number" id="tentacles" name="tentacles" min="1" max="100" class="button-number">
        </div>
          <h4>Descripción</h2>
        <p><%= Productos.descripcion %>  </p>
        <button type="submit" class="btn-regis">Agregar al Carrito</button>
      </div>
    </div>
  </div>
</div>
  <footer>    
    <!--Include Footer-->
    <%- include('../partials/footer') %> 
  </footer>
</body>
</html>
