<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Include head-->
    <%- include('../partials/head') %>
    <script src="/js/EditValidation.js"></script>
    <title>Argon | Carga</title>
  </head>
  <body>
    <header>
      <!--Include header-->
      <%- include('../partials/header') %>
      <script src="/js/"></script>
    </header>
    <span class="prueba">
      VALOR
    <%= Productos.marca %>
    </span>
    <section class="contenedorForm">
      <form
        action="/products/<%= Productos.id %>?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
        class="edit"
      >
      <section class="edit-box">
        <h4><%= Productos.nombre %></h4>
      
        <div class="galeria">
          <img src="<%= Productos.imagen %>" />
        </div>
        <label for="imagen"></label>
        <input
          class="form-control img"
          type="file"
          placeholder="Imagen"
          name="img"
          id="img"
          value="<%= Productos.imagen %>"
        />
        <label for="producto">Nombre del producto</label>
        <input
          type="text"
          name="nombre"
          class="form-control Nombre del Producto"
          id="nombre"
          value="<%= Productos.nombre %>"
        />
        <div class="text-danger nombre">
          <% if (locals.errors && errors.nombre) { %><%= errors.nombre.msg %> <%
          } %>
        </div>

        <div class="content-select">
        <label for="marca">Marca</label>
        <select name="marca" id="marca">
          <option value="1" <% if(Productos.Marca.marca=="Dell"){ %><%= "selected"  %><% }%>>Dell</option>
          <option value="2" <% if(Productos.Marca.marca=="Gigabyte"){ %><%= "selected"  %><% }%>>Gigabyte</option>
          <option value="3" <% if(Productos.Marca.marca=="ViewSonic"){ %><%= "selected"  %><% }%>>ViewSonic</option>
          <option value="4" <% if(Productos.Marca.marca=="Asus"){ %><%= "selected"  %><% }%>>Asus</option>
          <option value="5" <% if(Productos.Marca.marca=="Intel"){ %><%= "selected"  %><% }%>>Intel</option>
          <option value="6" <% if(Productos.Marca.marca=="Amd"){ %><%= "selected"  %><% }%>>Amd</option>
          <option value="7" <% if(Productos.Marca.marca=="Corsair"){ %><%= "selected"  %><% }%>>Corsair</option>
          <option value="8" <% if(Productos.Marca.marca=="Logitech"){ %><%= "selected"  %><% }%>>Logitech</option>
          <option value="9" <% if(Productos.Marca.marca=="Adata"){ %><%= "selected"  %><% }%>>Adata</option>
          <option value="10" <% if(Productos.Marca.marca=="Zotac"){ %><%= "selected"  %><% }%>>Zotac</option>
          <option value="11" <% if(Productos.Marca.marca=="Western Digital"){ %><%= "selected"  %><% }%>>Western Digital</option>
          <option value="12" <% if(Productos.Marca.marca=="Samsung"){ %><%= "selected"  %><% }%>>Samsung</option>
          <option value="13" <% if(Productos.Marca.marca=="MSI"){ %><%= "selected"  %><% }%>>MSI</option>
          <option value="14" <% if(Productos.Marca.marca=="PNY"){ %><%= "selected"  %><% }%>>PNY</option>
          <option value="15" <% if(Productos.Marca.marca=="Redragon"){ %><%= "selected"  %><% }%>>Redragon</option>
          <option value="16" <% if(Productos.Marca.marca=="Noganet"){ %><%= "selected"  %><% }%>>Noganet</option>
          <option value="17" <% if(Productos.Marca.marca=="Deepcool"){ %><%= "selected"  %><% }%>>Deepcool</option>
          <option value="18" <% if(Productos.Marca.marca=="Overtech"){ %><%= "selected"  %><% }%>>Overtech</option>
          <option value="19" <% if(Productos.Marca.marca=="TForce"){ %><%= "selected"  %><% }%>>TForce</option>
          <option value="20" <% if(Productos.Marca.marca=="IdCooling"){ %><%= "selected"  %><% }%>>IdCooling</option>
          <option value="21" <% if(Productos.Marca.marca=="GENERICO"){ %><%= "selected"  %><% }%>>GENERICO</option>
        <li></li>
        </select>
        <li></li>
        </div>
        
        <label for="sockets">Sockets</label>
        <input
          class="form-control sockets"
          type="text"
          name="sockets"
          id="sockets"
          placeholder="<%=Productos.sockets %>"
          value="<%= Productos.sockets %>"
        />

        <label for="slots">Slots</label>
        <div class="content-select">
        <select name="slots" id="slots">
          <option value="0" <% if(Productos.slots==0){ %><%= "selected"  %><% }%>>No aplica</option>
          <option value="2" <% if(Productos.slots==2){ %><%= "selected"  %><% }%>>2</option>
          <option value="4" <% if(Productos.slots==4){ %><%= "selected"  %><% }%>>4</option>
          <option value="6" <% if(Productos.slots==6){ %><%= "selected"  %><% }%>>6</option>
          <option value="8" <% if(Productos.slots==8){ %><%= "selected"  %><% }%>>8</option>
        </select>
        <i></i>
        </div>

        <label for="ram">Ram</label>
        <div class="content-select">
        <select name="ram" id="ram">
          <option value="" <% if(Productos.ram==""){ %><%= "selected"  %><% }%>>No aplica</option>
          <option value="DDR3" <% if(Productos.ram=="DDR3"){ %><%= "selected"  %><% }%>>DDR3</option>
          <option value="DDR4" <% if(Productos.ram=="DDR4"){ %><%= "selected"  %><% }%>>DDR4</option>
          <option value="DDR5" <% if(Productos.ram=="DDR5"){ %><%= "selected"  %><% }%>>DDR5</option>
        </select>
        <i></i>
        </div>

        <label for="precio">Precio</label>
        <input
          class="form-control precio"
          type="number"
          name="precio"
          id="precio"
          value="<%= Productos.precio %>"
        />
        <div class="text-danger precio">
          <% if (locals.errors && errors.precio) { %><%= errors.precio.msg %> <%
          } %>
          </div>
        <label for="descripcion">Descripción</label>
        <input
          class="form-control descripcion"
          type="text"
          name="descripcion"
          id="descripcion"
          value="<%= Productos.descripcion %>"
        />

        <label for="gama">Gama</label>
        <div class="content-select">
        <select name="gama" id="gama">
          <option value="1" <% if(Productos.gamaId==1){ %><%= "selected"  %><% }%>>Alta</option>
          <option value="2" <% if(Productos.gamaId==2){ %><%= "selected"  %><% }%>>Media</option>
          <option value="3" <% if(Productos.gamaId==3){ %><%= "selected"  %><% }%>>Baja</option>
        </select>
        <i></i>
        </div>

        <button type="submit" class="btn-edit submit">EDITAR PRODUCTO / GUARDAR</button>
        <button type="submit" class="btn-edit rest ">
          <span class="far fa-trash-alt"></span> Eliminar
        </button>
      </form>
    </section>
  </section>

    <!--Include Footer-->
    <%- include('../partials/footer') %>
  </body>
</html>
