<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Include head-->
    <%- include('../partials/head') %>
    <title>Argon | Home</title>
  </head>

  <body>
    <header>
      <!--Include header-->
      <%- include('../partials/header') %>
    </header>
    <div class="menuDesplegado">
      <!--Include menu-->
      <%- include('../partials/menu') %>
    </div>
  
    <section id="Opciones">
      <div class="contenedorOpciones">
        <div class="caja">
          <div class="hoverCaja">
            <p>Encontrá lo Mejor en tecnología para tu hogar</p>
            <a href="#">MIRA MÁS</a>
          </div>
          <div class="contendorImgCaja">
            <img src="/img/hogar.jpg" alt="" />
          </div>
        </div>
        <div class="caja">
          <div class="hoverCaja">
            <p>Encontrá lo Mejor en tegnologia para tu lugar de trabajo</p>
            <a href="#">MIRA MÁS</a>
          </div>
          <div class="contendorImgCaja">
            <img src="/img/officina.jpg" alt="" />
          </div>
        </div>
        <div class="caja">
          <div class="hoverCaja">
            <p>Encontrá lo Mejor en tegnologia para setup gamer</p>
            <a href="#">MIRA MÁS</a>
          </div>
          <div class="contendorImgCaja">
            <img src="/img/gamer.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section id="productos">
        <% productos.forEach(producto => { %>
        <a href="/detail/<%= producto.id %>  "
          > 
          <div class="contenedor">
          <div class="contenedorImgProducto">
            <img
              src="<%= producto.imagen %> "
              alt="producto"
              class="imagen-producto"
            />
          </div>
        </a>
        <div class="contenedorInfo">
          <p>Nombre: <%= producto.nombre %></p>
          <p>PRECIO :$ <%= producto.precio %></p>
          <p>Marca :<%= producto.marca %></p>
          <p>EN STOCK : <%= producto.stock %></p>
        </div>
      </div>
    

      <%})%>
    </section>
    <footer>
      <!--Include Footer-->
      <%- include('../partials/footer') %>
    </footer>
        <!--Include scripts-->
        <%- include('../partials/scripts') %>
  </body>
</html>
