<!DOCTYPE html>
<html lang="en">
<head>
       <!--Include head-->
       <%- include('../partials/head') %> 
       <title>Argon | Login</title>
</head>
<body>
    <header>
        <!--Include header-->
     <%- include('../partials/header') %>
     </header>
     <div class="menuDesplegado">
        <!--Include menu-->
        <%- include('../partials/menu') %>
      </div>
    <section id="productos">

        <div class="cajasProductos">
            <div class="contenedorInfo">
                <H3>LOGIN</H3>
                <form method="" action="">
                    <br>
                    E-mail:<input type="text" name="email">
                    <br>
                    Contraseña:<input type="password" name="contraseña">
                    <br>
                    <input type="submit" value="CREAR CUENTA">
                    <br>
                </form>
            </div>
        </div>
    </section>
    <footer>
        <!--Include Footer-->
<%- include('../partials/footer') %> 
</footer>
   <!--Include scripts-->
   <%- include('../partials/scripts') %>
</body>
</html>