<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Include head-->
    <%- include('../partials/head') %>
    <title>Argon | Register</title>
  </head>
  <body>
    <header>
      <!--Include header-->
      <%- include('../partials/header') %>
    </header>
    <div class="menuDesplegado">
      <!--Include menu-->
      <%- include('../partials/menu') %>
    </div>
    <style>
      body {
        text-align: center;
      }
      .button-create {
        width: 50%;
        background-color: blueviolet;
        color: white;
      }
    </style>
    <div>
      <h1>Hola! <%= user.nombre %></h1>
      <br />
      <img src="<%= user.avatar %> " />
      <div><%= user.email %></div>
    </div>
  </body>
</html>
