<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Include head-->
    <%- include('../partials/head') %>
    <script src="/js/RegisterValidation.js"></script>
    <title>Argon | Registro</title>
  </head>
  <body>
    <header>
      <!--Include header-->
      <%- include('../partials/header') %>
    </header>

    <div class="register-box">
      <h1>Registrarse</h1>
      <h5>Ingresá tus datos para crear tu cuenta</h5>
      <div class="erroresRegister">
        <ul></ul>
      </div>
      <form
        method="POST"
        action="/users/register"
        enctype="multipart/form-data"
        class="register"
      >
        <label for="nombre"></label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre"
        class="form-control nombre" value="<%= (locals.oldData &&
        oldData.nombre) ? oldData.nombre : "";%>">
        <div class="text-danger nombre">
          <% if (locals.errors && errors.nombre) { %><%= errors.nombre.msg %> <%
          } %>
        </div>

        <label for="apellido"></label>
        <input type="text" name="apellido" id="apellido" placeholder="Apellido"
        class="form-control apellido" value="<%= (locals.oldData &&
        oldData.apellido) ? oldData.apellido : "";%>">
        <div class="text-danger apellido">
          <% if (locals.errors && errors.apellido) { %><%= errors.apellido.msg
          %> <% } %>
        </div>

        <label for="email"></label>
        <input type="text" name="email" id="email" placeholder="Email"
        class="form-control email" value="<%= (locals.oldData && oldData.email)
        ? oldData.email : "";%>">
        <div class="text-danger email">
          <% if (locals.errors && errors.email) { %><%= errors.email.msg %><% }
          %>
        </div>

        <label for="contacto"></label>
        <input type="text" name="numTel" placeholder="Número de teléfono"
        class="form-control numTel" value="<%= (locals.oldData &&
        oldData.numTel) ? oldData.numTel : "";%>">
        <div class="text-danger numTel">
          <% if (locals.errors && errors.contacto) { %><%= errors.contacto.msg
          %><% } %>
        </div>

        <label for="avatar"></label>
        <input name="avatar" id="avatar" type="file" placeholder="Ingrese una
        imagen de perfil" accept="image/*" class="form-control avatar"
        value="<%= (locals.oldData && oldData.avatar) ? oldData.avatar : "";%>">
        <% if (locals.errors && errors.avatar) { %>
        <div class="text-danger avatar"><%= errors.avatar.msg %></div>
        <% } %>

        <label for="password"></label>
        <input type="password" name="password" id="password"
        placeholder="Contraseña" class="form-control password" value="<%=
        (locals.oldData && oldData.password) ? oldData.password : "";%>">
        <div class="text-danger password">
          <% if (locals.errors && errors.password) { %><%= errors.password.msg
          %><% } %>
        </div>

        <button type="submit" value="registrarse" class="btn-regis btn-submit">
          Registrarse
        </button>
      </form>
    </div>

    <footer>
      <!--Include Footer-->
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>
